:root{
  --bg-perla: #f2f2f2;
  --border-bold: .5px solid #ccc;
  --box-shadow: 0 0 10px rgb(246 202 203);
}

html{
  /* Multiplica 100% * Establecer 10px por rem / Medida rem 16px estandar */
  font-size: 62.5%;
  background-color: var(--bg-perla);
  height: 100vh;
}
.modal-dialog{
  margin-top: 8rem !important;
}

#root{
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: var(--bg-perla);
  overflow-y: scroll;
}



.register-type .Turno{
  background-color: rgba(241, 112, 228, 0.8);
}
.register-type .Ingreso, .Ingreso > div:nth-child(3n){
  background-color: rgba(112, 241, 112, .8);
}
.register-type .Egreso, .Egreso > div:nth-child(3n){
  background-color: rgba(223, 86, 86, .8);
}
.register-type .Saldo, .Saldo > div:nth-child(3n){
  background-color: rgba(255, 246, 65, .8);
}

.navbar-brand{
  font-weight: bold;
  box-shadow: 0px 0px 10px #ccc;
  background: rgba(246, 202, 203, .8);
 border-radius: 5px;
 padding: 0 .5rem;
}

.navbar{
  position: fixed !important;
  top: 0;
  width: 100%;
  background-image: url("bglogo2.jpg");
  background-position: top right;
  background-size: contain;
    background-repeat-x: no-repeat;
    min-height: 7.3rem !important;
  box-shadow: var(--box-shadow);
  z-index: 33;
  border-bottom: var(--border-bold);
}

.btn{
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.btn svg{
  width: 2rem !important;
  height: 2rem !important;
}

.list-container{
  border: var(--border-bold);
    width: 96%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    align-self: center;
    min-height: 530px;
    margin-bottom: 6rem;
}

.MuiDataGrid-columnHeaderTitle {
  font-size: 1rem !important;
  font-weight: bold !important;
}

.MuiDataGrid-cell {
  font-size: 1.2rem !important;
}

.nav-link{
  font-size: 1.7rem !important;
  font-weight: bold !important;
}

.filter-bar {
  box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 7.5rem;
}
.filter-bar section{
  width:100%;
}
.filter-bar > div{
  text-align: center;
  font-weight: bold;
  padding: .5rem;
}
.filter-bar > div input{
  width: -webkit-fill-available;
  display: block;
  height: 2rem;
}
.filter-bar .MuiFormControl-root {
  align-self: flex-end;
  margin-left: .5rem;
  border-radius: 5px;
  width: 11rem;
}
.filter-bar .MuiFormControl-root > * {
  max-height: 3rem;
}
.filter-bar div:last-child{
  display: flex;
}

.footer-container{
  background-color: #f2f2f2;
  z-index: 33;
  position: fixed;
  border-top:var(--border-bold);
  box-shadow: var(--box-shadow);
  bottom: 0;
  width: 100%;
  padding: .3rem;
  display: flex;
  justify-content: space-around;
}

.enabled-button {
  animation: buttonAnimation .5s ease-in-out; /* Aplica la animación con un ciclo infinito */
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.resumen table{
  width: 100%;
}

.resumen table tbody tr:last-child{
  font-weight: bolder;
}

.Toastify__toast--success {
  border:var(--border-bold) !important;
  border-radius: 50px !important;
  background: #F0F9FA !important;
}

.register-type{
  display: flex;
  justify-content:space-around;
}
.register-type span{
  text-align: center;
    border:var(--border-bold);
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px black;
    border-radius: 5px;
    width: 66px;
  font-size: 1.5rem !important;

}
.register-type input{
  display: block;
  margin: .5rem auto;
  width: 100%;
  height: 20px;
}

.register-data{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.4rem;
}
.register-data > span{
  padding: 0 .5rem;
  text-align: center;
  border:var(--border-bold);
    border-radius: 5px;
    margin-bottom: .5rem;
    font-weight: bold;
}
.register-data .short{
  width: 49%;
}
.register-data .full{
  width: 100%;
}
.register-data label{
  display: block;
}
.register-data input, select{
  text-align: center;
  font-size: 1.8rem;
  border:none;
  display: block;
  width:-webkit-fill-available;
}

.resumen table{
  text-align: center;
}

.resumen table tr:nth-child(2n){
  background: #eee;
}

.currency{
  text-align: right;
}


@media (max-width: 992px) {
  .navbar-nav{
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
    padding: 0.3rem !important;
  margin-top: 6rem;
  }
  .navbar{
    background-position: top center !important;
    background-size: cover !important;
  }
  
}